### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.idea

# SQLite database
achievement.db
achievement.db-journal
.db
*.db

# chrome driver
chromedriver
chromedriver.log

# Virtualenv
venv
.venv